.root{
    padding-inline-start: calc(var(--mantine-spacing-md) - 0.25 * 16px);
}
.icon {
    width: 18px;
    margin-top: 3px;
    margin-inline-end: var(--mantine-spacing-xs);
}

.body {
    gap: calc(var(--mantine-spacing-xs) *0.5);
    
}

.title {
    font-weight: 600;
    font-size: var(--mantine-font-size-md);
}

.label {
    width: 100%;
    
}

.message {
    overflow: visible;
    margin-right: var(--mantine-spacing-xs);
}