.wrapper {
    display: flex;
}

.section {
    height: var(--input-height);
    width: fit-content;
    position: static;
    margin-inline-end: var(--mantine-spacing-xs);
}

.input {
    padding-inline: 0;
    border: none;
    color: var(--mantine-color-blue-5);
}
.pill {
    font-size: calc( 0.8 * var(--mantine-font-size-md));
    background: var(--mantine-color-gray-1);
    border-radius: var(--mantine-radius-sm);
}