.root {
    padding-inline-start: calc(var(--mantine-spacing-md) - 0.25 * 16px);
    
}


/* CSS untuk icon */
.icon {
    width: 16px;
    margin-top: 5px;
    margin-inline-end: var(--mantine-spacing-xs);
}

/* CSS untuk title */
.title {
    font-weight: 600;
    font-size: var(--mantine-font-size-lg);
}

.label{
    width: 100%;
}

/* CSS untuk message */
.message {
    overflow: visible;
}