@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

body {
    overflow-y: scroll !important;
}

.radius-md {
    border-radius: var(--mantine-radius-md);
}

.inspect>* {
    border: 1px solid red;
}

.borderBottom {
    border-block-end: 1px solid var(--mantine-color-gray-2)
}

.borderTop {
    border-block-start: 1px solid var(--mantine-color-gray-2)
}

.map-marker-centered {
    background-size: contain;
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    position: absolute;
    z-index: 500;
    left: calc(50% - 22px);
    top: calc(50% - 42px);
    transition: all 0.4s ease;
}

nav.mobile a:hover {
    background: none;
}

nav.mobile a:active {
    background: var(--mantine-color-blue-0);
}

@media (max-width: 36em) {
    .fluid-Paper {
        border-radius: 0;
        border-inline: none;
    }
}

nav.mobile a:not([aria-current="page"]) {
    color: var(--mantine-color-gray-6)
}

.simple-stoast {
    background-color: var(--mantine-color-gray-2);
}

.myCalender button[data-disabled]:not(.dayCell) {
    opacity: 0.7;
    background-color: var(--mantine-color-default);
}


.entriMenuIcon[data-expanded="true"] {
    background-color: var(--mantine-color-gray-2);
}

.custom-checkbox {
    border-color: alpha(var(--color), 0.3);
}

.custom-checkbox:not(:checked) {
    background-color: alpha(var(--color), 0.1);
}

 