
.root {
    background-color: var(--notification-color, var(--mantine-color-dark-filled));

    &::before {
        background-color: var(--mantine-color-white);
    }
}
 
.closeButton {
    color: white;

    &:hover {

        background: transparent
    }
}

.loader {
    --loader-color: var(--mantine-color-white) !important;
}
 
.description,
.title {
    color: var(--mantine-color-white);
}

.closeButton {
    color: var(--mantine-color-white);

    @mixin hover {
        background-color: var(--mantine-color-gray-7);
    }
}